version: '3.8'

services:
  hacktron-example-ollama:
    image: ollama/ollama:latest
    container_name: hacktron-example-ollama
    restart: unless-stopped
    ports:
      - "7200:11434"
    volumes:
      #- /data/example/ollama:/root/.ollama
      - example-root:/root
    environment:
      - OLLAMA_HOST=0.0.0.0
      - TZ=Asia/Bangkok
    networks:
      - ai4thai_net
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]

  hacktron-example-mq:
    image: rabbitmq:3-management
    container_name: hacktron-example-mq
    restart: unless-stopped
    ports:
      - "7201:5672"
      - "7202:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password123
      - TZ=Asia/Bangkok
    networks:
      - ai4thai_net

  hacktron-example-producer:
    build:
      context: ./producer
      dockerfile: Dockerfile
    container_name: hacktron-example-producer
    restart: unless-stopped
    ports:
      - "7203:8000"
    environment:
      - RABBITMQ_HOST=hacktron-example-mq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=admin
      - RABBITMQ_PASS=password123
      - OLLAMA_HOST=hacktron-example-ollama
      - OLLAMA_PORT=11434
      - TZ=Asia/Bangkok
    depends_on:
      - hacktron-example-mq
      - hacktron-example-ollama
    networks:
      - ai4thai_net

  hacktron-example-consumer:
    build:
      context: ./consumer
      dockerfile: Dockerfile
    container_name: hacktron-example-consumer
    restart: unless-stopped
    environment:
      - RABBITMQ_HOST=hacktron-example-mq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=admin
      - RABBITMQ_PASS=password123
      - OLLAMA_HOST=hacktron-example-ollama
      - OLLAMA_PORT=11434
      - TZ=Asia/Bangkok
    depends_on:
      - hacktron-example-mq
      - hacktron-example-ollama
    networks:
      - ai4thai_net

networks:
  ai4thai_net:
    external: true

volumes:
  example-root:
    external: true
  example-data:
    external: true